

@{
    ViewBag.Title = "Catalog";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index")</li>
    <li class="breadcrumb-item active">Catalog</li>
</ol>

<h2>Catalog</h2>

<h3>Here is where the Assay List will go</h3>

