
@{
    ViewBag.Title = "Confirmation";
}

<h2>Thank You</h2>
<br />
<h3>Your response has been submitted</h3>
<br />
<h4 style="background-color:antiquewhite; text-align:center; border:2px solid black;">
    <br /><br />
    @Html.ActionLink("Click here", "Index") to return to site
    <br /><br />
</h4>

