@{
    ViewBag.Title = "Contact";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index")</li>
    <li class="breadcrumb-item active">Contact</li>
</ol>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    555 Intex Road<br />
    Seattle, WA 98101<br />
    <b><abbr title="Phone">Phone:</abbr></b>
    1-800-967-5352
</address>

@*make the form here with the model*@