
@{
    ViewBag.Title = "Employee";
}

<h2>Welcome @Session["userName"].ToString()</h2>

@Html.ActionLink("Fill out work order", "EmployeeWorkOrder","Home", new { @class = "btn btn-primary btn-large"})

@Html.ActionLink("Incoming orders", "Employee", "Home", new { @class = "btn btn-primary btn-large" })