@{
    ViewBag.Title = "Home";
}

@*added a comment*@
<div class="jumbotron">
    <p style="font-size:40px; font-weight:600; color:white;">Northwest Labs</p>
    <br />
    <br />
    <p style="font-size:20px; font-weight:600; color:black;">Northwest Labs is dope</p>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Need Help or Have a Question?</h3>
        <p style="color:blue"><u>+1 800 967 5352</u></p>
        <p>
            @Html.ActionLink("Send A Request","Contact","Home", new { @class = "btn btn-primary btn-large" })
        </p>
    </div>
</div>