@{
    ViewBag.Title = "Home Page";
}

@*added a comment*@
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Need Help or Have a Question?</h3>
        <p style="color:blue"><u>+1 800 967 5352</u></p>
        <p>
            @Html.ActionLink("Send A Request","Contact","Home", new { @class = "btn btn-primary btn-large" })
        </p>
    </div>
</div>