@{
    ViewBag.Title = "Home";
}

@*added a comment*@
<div class="jumbotron">
    <p style="font-size:40px; font-weight:600; color:white;">Northwest Labs</p>
    <br />
    <br />
    <p style="font-size:20px; font-weight:600; color:black;">   </p>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row" style="border-bottom: 3px solid black">
    <h3 class="text-center">Incredible Accuracy, Impeccably Prompt, Impressive Service</h3>
    <h4>
        Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing in-depth assay analysis. 
        These tests could include purely laboratory type tests and/or biological tests on live animals. 
        Northwest Labs is a global business with pharmaceutical labs in Singapore and corporate offices located in Seattle. 

    </h4>
</div>

<div class="row">
    <h1 class="text-center" style="text-decoration:underline">SERVICES</h1>
</div>


<div class="row" style="border-bottom: 3px solid black">
    <div class="col-md-4">
        <img src="~/Content/Images/home1.jpg" class="img-responsive" style="width:100%    " />
        <h2>Biochemical Pharmacology</h2>
        <br />
        <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
            luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing 
            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/home2.jpg" class="img-responsive" style="width:90%"/>
        <h2>DiscoveryScreen<span style="font-size:17px">®</span></h2>
        <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
            luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </p>
    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/home3.jpg" class="img-responsive" style="width:100%"/>
        <h2>ImmunoScreen<span style="font-size:17px">®</span></h2>
        <br />
        <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
            luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </p>
    </div>
</div>
<br />  

    <div class="row" style="border-bottom: 5px solid black">
        <div class="col-md-4">
            <img src="~/Content/Images/home6.png" class="img-responsive" style="width:100%    " />
            <h2>ProfilingScreen<span style="font-size:17px">®</span></h2>
            <br />
            <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>

        <div class="col-md-4">
            <img src="~/Content/Images/home5.jpg" class="img-responsive" style="width:90%" />
            <h2>PharmaScreen<span style="font-size:17px">®</span></h2>
            <br />
            <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>

        <div class="col-md-4">
            <img src="~/Content/Images/home4.jpg" class="img-responsive" style="width:100%" />
            <h2>CustomScreen<span style="font-size:17px">™</span></h2>
            <br />
            <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>

    </div>

<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h3>Need Help or Have a Question?</h3>
        <p style="color:blue"><u>+1 800 967 5352</u></p>
        <p>
            @Html.ActionLink("Send A Request","Contact","Home", new { @class = "btn btn-primary btn-large" })
        </p>
    </div>
</div>
