
@{
    ViewBag.Title = "Manager";
}

<h2>Welcome @Session["userName"].ToString()</h2>

<h3>Recently, there have been these updates:</h3>

<p>    
    <ul>
        <li>Order <u>157192</u> for <b>Bird Entreprise</b> Status: <i>Testing samples</i></li>
        <li>Order <u>157186</u> for <b>Heartflow</b> Status: <i>Compound received</i></li>
        <li>Order <u>157182</u> for <b>Ellis D</b> Status: <i>Analyzing test results</i></li>

    </ul>    
</p>




